# --- Environment files ---
*.env

# --- Python cache & compiled files ---
__pycache__/
*.pyc
*.pyo
*.pyd

# --- Test artifacts ---
.pytest_cache/
*.pytest-*
.pytest/



# --- OS / Editor junk ---
.DS_Store
Thumbs.db
.vscode/
.idea/

# --- Ignore virtual environments ---
venv/
.env/
